/* Estilização básica da página */

body {
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fblog.dipratos.com.br%2F7-diferentes-tipos-de-padaria-e-como-empreender-no-negocio%2F&psig=AOvVaw0gtr_1vSYyo1Xc10Ntzp84&ust=1699441692365000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJjNuuXfsYIDFQAAAAAdAAAAABAl');
    background-size: cover;
    background-position: center;
    color: #fff;
}

header {
    background-color: #90ddfc;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 25px;
}

h2 {
    font-size: 30px;
}

nav {
    background-color: #136da8;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Estilos para a seção "Sobre Nós" */


#sobre {
    background-color: #6ec4f5;
}

/* Estilos para a seção "Nossos Produtos" */

#produtos {
    background-color: #2fbdf5;
}

/* Estilos para a seção "Entre em Contato Conosco" */

#contato {
    background-color: #0ba8e6;
    text-align: center;
    padding: 30px;
}

/* Estilização do rodapé */

footer {
    background-color: #2496e2;
    text-align: center;
    padding: 10px;
    color: #fff;
}

/* Estilos para links */

a {
    color: #f01111;
}

a:hover {
    text-decoration: underline;
    color: #ff6633;
}

img{
    width: 250px;
    height: 250px; 
    margin: 10px; 
    border-radius: 50%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: normal;
    font-size: 25px;
}

.sobrenós{
    text-align: center;
}

.choco{
    text-align: center;
}
