/* Estilização básica da página */

body {
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
}

header {
    background-color: #90ddfc;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

nav {
    background-color: #136da8;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Estilos para a seção "Sobre Nós" */

#sobre {
    background-color: #6ec4f5;
}

/* Estilos para a seção "Nossos Produtos" */

#produtos {
    background-color: #2fbdf5;
}

/* Estilos para a seção "Entre em Contato Conosco" */

#contato {
    background-color: #0ba8e6;
    text-align: center;
    padding: 30px;
}

/* Estilização do rodapé */

footer {
    background-color: #2496e2;
    text-align: center;
    padding: 10px;
    color: #fff;
}

/* Estilos para links */

a {
    color: #ff9966;
}

a:hover {
    text-decoration: underline;
    color: #ff6633;
}

/* Outras estilizações de elementos (botões, caixas, etc.) podem ser adicionadas conforme necessário. */